
{% extends 'buy_sell/basefixednav.html'%}
{% load static %}
{% load socialaccount %}
{% block contentfixednav %}
      
        <div class="container">
            <div class="row">
                <!-- ajax login-->
                <div class="col-md-6">
                    <div class="pt-3">
                        <h4 class="alert-heading">Login</h4>
                    </div>                          
                    <div class="">                              
                        <div class="pt-3">
                            <input type="text" class="form-control" id='email' name='email' value="" placeholder="Email" required>
                        </div>               
                        <div class="form-group pt-3">
                            <input type="password" class="form-control" id="password" name="password" value="" placeholder="Password" required>
                        </div>
                        <br>
                        <button id="login" type="submit" class="btn btn-success">Login</button>               
                        {% if messages %}
                        {% for msg in messages%}
                        <h5>{{ msg }}</h5>
                        {% endfor%}
                        {% endif %}
                    </div>  
                </div>

                <div class="col-md-6">
                    <div class="text-center pt-3">
                        <h4 class="alert-heading">Login Here</h4>
                    </div>              
            
                    <div class="container-sm">
                        <form method="POST" action="{% url 'login' %}">
                            {% csrf_token %}               
                            <div class="form-group pt-3">
                                <input type="text" class="form-control" name='email' value="" placeholder="Email" required>
                            </div>               
                            <div class="form-group pt-3">
                                <input type="password" class="form-control" name="password" value="" placeholder="Password" required>
                            </div>
                            <a id="forgotpassword" href="{% url 'forgotpasswordpage' %}">Forgot password?</a>
                            <br>
                            <button type="submit" class="btn btn-success">Login</button>               
                            <h6>Login as Admin <a href="/api-auth/login/?next=/api/products/">Login as admin</a></h6>
                            <h6>don't have an account <a href="{% url 'registerpage' %}">create an account</a></h6>
                            {% if messages %}
                            {% for msg in messages%}
                            <h5>{{ msg }}</h5>
                            {% endfor%}
                            {% endif %}
                        </form>
                    </div>      
                    <div class="text-center">
                        <h4>OR</h4> 
                        <a href="{% provider_login_url 'google' %}" class="alert-link">
                            <img id="googleimage" src="{% static 'images/google.png' %}" alt="Google">
                        </a>           
                    </div>
                </div>
            </div>
        </div>

<!--AJAX FORM JS-->
<script type="text/javascript"  src="{% static 'js/ajax_login.js'%}"></script>
             
{% endblock %}