
{% extends 'buy_sell/basenav.html'%}
{% load static %}
{% block content %}
             
        <div class="container">
            <div class="row">
                <div class="card" >
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{ data.status }}</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ data.image.url }}" alt="..." />                  
                </div> 
                <div class="row">
                    <h4 class="text-center"> {{ data.name }}</h4>
                </div>
                <hr>
                <div class="row ">
                    <div class="col-10">
                        <h3>Description</h3>
                        <h4>{{ data.description }}</h4>
                    </div>  
                </div>
                <hr>
                <div class="row ">
                    <div class="col-4">
                        <h3>Price</h3>
                        <h4> ₹{{ data.price }}</h4>
                    </div>    
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <h3>Owner</h3>
                        <h4>{{ data.ownerusername }}</h4> 
                        <!-- For chat functionality -->                        
                        <input type="hidden"  id="username" value="{{ data.ownerusername }}">
                        <input type="hidden"  id="username2" value=" {{ product_username }} "> 
                       
                    </div>
                </div>
                <hr>
                <div class="row">
                     <!-- if true Dont show buttons-->
                    {% if  data.ownerusername == userdetails.username or user.is_authenticated or not request.session.name %}
                    <!-- if false show buttons-->
                    {%else%}

                    <!-- Checking status of product -->
                    <!-- if 'sale' show buttons else not show -->
                    {% if data.status == 'sale' %}
                    
                    <div>
                        <input id="room-name-submit" type="button" class="text-center btn btn-dark" value="Chat with user" style="width: 103%;">       
                        <a href="{% url 'buyproductnow' %}">
                            <br>
                            <input class=" text-center btn btn-dark" type="button" value="Buy" style="width: 103%;">
                            <br><br>    
                        </a>
                    </div>
                    
                    {% endif %}

                    {% endif %}
                </div>   
            </div>   
        </div>   
        

        <!-- Chat script --> 
        <script>
            //var usernam ={{ ownerusername}};
            var username  = document.getElementById('username').value;
            document.querySelector('#room-name-submit').onclick = function (e) {
                window.location.pathname = '/chat/' +  username  + '/';
                
            };
        </script>

        <!-- Notification script -->
        {{ room_name|json_script:"room-name" }}
        <script src="{% static 'js/notification.js' %}"></script>
        
       
        
        <br><br><br><br>
        <div class="">
            {% include 'buy_sell/footer.html' %}
        </div>

{% endblock %}  
